<div class="page-container page-dashboard" >
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4"  >
            <button class="btn btn-default btn-lg btn-block" ng-disabled="vm.data.counter.running" ng-click="vm.start()" >Start</button>
        </div>
    </div>
    <spinner ng-show="vm.data.loading"></spinner>
    <div ng-if="vm.data.counter.running" >
        <div class="row" >
            <div class="col-sm-6 col-sm-offset-3" >
                <h1 class="center-block" >{{vm.data.counter.seconds}}</h1>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-6 col-sm-offset-3" >
                <h1 class="center-block" >{{vm.data.buffer.current}}</h1>
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-6 col-sm-offset-3" >
                <input type="text" placeholder="Insert Word" class="form-control" ng-keyup="vm.onChangeWord($event)" />
            </div>
        </div>
    </div>
</div>
