* {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 2 * $space-big;
  background-color: #333;
  color: white;
}

.page-container {
  padding-top: $space-big;
}

.featurette-divider {
  padding-top: 3 * $space-big;
  margin-top: 3 * $space-big;
}
