<div class="page-container page-user">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">User Name:</label>
            <input type="text" placeholder="Insert User Name" class="form-control" ng-model="vm.newuser">
        </div>
        <button class="btn btn-default" ng-click="vm.add(vm.newuser)" >Add User</button>
    </form>
</div>
