@-webkit-keyframes rotating {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.loading {
  text-align: center;
  padding: 36px;

  .glyphicon {
    animation: rotating 2s linear infinite;
    font-size: 36px;
  }
}
