<header>
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <span ng-show="vm.username.length > 0" >Hi, {{vm.username}}</span>
        </div>
        <div class="col-xs-6 col-sm-6 text-right" ng-show="vm.score">
            <span>{{vm.score}}<span>
            <span class="glyphicon glyphicon-star" ></span>
        </div>
    </div>
</header>
